* {
    box-sizing: border-box;
}

body {
    font-size: 1.25rem;
    font-family: sans-serif;
    line-height: 150%;
}

section {
    text-align: center;
}

div {
    height: 100%;
}


/* Pattern styles */

.container {
    display: table;
    width: 100%;
}

.left-half {
    position: absolute;
    left: 0px;
    width: 50%;
}

.right-half {
    position: absolute;
    right: 0px;
    width: 50%;
}