@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e5e6ee;
}

.drag-area {
    border: 2px dashed rgb(78, 74, 74);
    height: 200px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-preview__image {
    width: 100%;
    height: 100%;
}

.first {
    height: 600px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    align-items: center;
}

.select:after {
    grid-area: select;
    justify-self: end;
}

#imageHolder {
    height: 500px;
    width: 400px;
    align-items: left !important;
    justify-content: left !important;
}

.drag-area.active {
    border: 2px solid rgb(0, 0, 0);
}

.drag-area .icon {
    font-size: 100px;
    color: rgb(0, 0, 0);
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: rgb(2, 2, 2);
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: rgb(19, 155, 19);
    color: #e6dbdb;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}