<!DOCTYPE  html>

<html lang="en">

<head> 
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Reader</title>
    <link rel="stylesheet" href="static/styles.css">

</head>

<body>
    <section class="container">
        <div class="left-half">
            <br><br><br>
            <img src={{pic}} height="600px" width="500px" alt="no img">
        </div>
        <div class="right-half">
            <br><br><br><br><br><br>
            <table CELLSPACING=10 CELLPADDING=10 style="margin: auto; ">
                <tr>
                    <td>Surname:</td>
                    <td>{{surname}}</td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td>{{first_name}}</td>
                </tr>
                <tr>
                    <td>DOB:</td>
                    <td>{{dob}}</td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td>{{gender}}</td>
                </tr>
                <tr>
                    <td>Number:</td>
                    <td>{{number}}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>{{address}}</td>
                </tr>
                <tr>
                    <td>DOE:</td>
                    <td>{{doe}}</td>
                </tr>
            </table>
        </div>
    </section>




</body>

</html>
